<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8" />
<link href="../static/css/voting.css"
          th:href="@{/css/voting.css}"
          rel="stylesheet" />
</head><body>
<div class="header" th:fragment="cabecera">
	<img alt="Logo1" src="/images/voting.png"/>
	
    <h1>Votaneitor. Sistema Unificado de Votaciones </h1>
    <h1>Votaneitor. Unified Voting System. </h1>
    <center><img alt="Logo2" src="/images/logo.gif"/></center>
    
</div>
</body>
</html>
